<mat-toolbar class="mat-elevation-z5 fixed-top navbar-bg d-flex justify-content-between align-items-center">
    <h2>TekGain</h2>
    <button *ngIf="flag" class="btn btn-outline-warning" (click)="logout()">Logout</button>
</mat-toolbar>

<mat-toolbar class="mat-elevation-z5 bg-green gap-4 fixed-top top-65" *ngIf="flag">
    <button class="btn btn-light ml-3" type="button" routerLinkActive="btn-dark" routerLink="/course">Course</button>
    <button class="btn btn-light ml-3" type="button" routerLinkActive="btn-dark" routerLink="/admission">Admission</button>
    <button class="btn btn-light ml-3" type="button" routerLinkActive="btn-dark" routerLink="/associate">Associate</button>
</mat-toolbar>

<router-outlet *ngIf="flag"></router-outlet>
<app-login *ngIf="!flag"></app-login>

