<mat-sidenav-container class="vh-100  top-130 position-relative mat-sidenav-container-bg">
    <mat-sidenav mode="side" opened class="h-100 mat-sidenav-bg mat-sidenav-custome">
        <p routerLink="/admission" [queryParams]="{ paramFlag: 1 }" routerLinkActive="active-route" class="cursor-pointer ">Associate Registration</p>
        <p routerLink="/admission" [queryParams]="{ paramFlag: 2 }" routerLinkActive="active-route" class="cursor-pointer ">Calculate Total Fee</p>
        <p routerLink="/admission" [queryParams]="{ paramFlag: 3 }" routerLinkActive="active-route" class="cursor-pointer ">Add Feedback</p>
        <p routerLink="/admission" [queryParams]="{ paramFlag: 4 }" routerLinkActive="active-route" class="cursor-pointer ">Highest Fee</p>
        <p routerLink="/admission" [queryParams]="{ paramFlag: 5 }" routerLinkActive="active-route" class="cursor-pointer ">View Feedback</p>
        <p routerLink="/admission" [queryParams]="{ paramFlag: 6 }" routerLinkActive="active-route" class="cursor-pointer ">Make Payment</p>
    </mat-sidenav>
    <mat-sidenav-content class="px-4 py-3">
        <h4>Admission Management System</h4>
        <div *ngIf="paramFlag == 1" class="text-center d-flex justify-content-center">
            <form (ngSubmit)="registration()">
                <h2>Associate Registration</h2>
                <table>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Associate Id</mat-label>
                                <input matInput name="associateId" [(ngModel)]="admissionModel.associateId" id="associateId">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Course Id</mat-label>
                                <input matInput id="courseId" name="courseId" [(ngModel)]="admissionModel.courseId">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-dark" type="submit" id="registration">Register</button></td>
                    </tr>
                    <tr>
                        <td>
                            <div *ngIf="message" id="result">{{message}}</div>
                            <div *ngIf="error" id="error">{{error}}</div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div *ngIf="paramFlag == 2" class="text-center d-flex justify-content-center">
            <form (ngSubmit)="totalFees()">
                <h2>Total Fee Calculation</h2>
                <table>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-select [(ngModel)]="associateId" id="associateId" name="associateId">
                                    <mat-option *ngFor="let admission of admissions" [value]="admission.associateId">
                                        {{ admission.associateId }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-dark" type="submit" id="totalFees">Update Course</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div *ngIf="message" id="result">{{ message }}</div>
                            <div *ngIf="error" id="error">{{ error }}</div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div *ngIf="paramFlag == 3" class="text-center d-flex justify-content-center">
            <form (ngSubmit)="addFeedback()">
                <h2>Feedback Details</h2>
                <table>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-select [(ngModel)]="admission.registrationId" id="registrationId"
                                    name="registrationId">
                                    <mat-option *ngFor="let admission of admissions" [value]="admission.registrationId">
                                        {{ admission.registrationId }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Feedback</mat-label>
                                <textarea matInput name="feedback" [(ngModel)]="admission.feedback"
                                    id="feedback"></textarea>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Rating</mat-label>
                                <input matInput type="number" name="rating" [(ngModel)]="admission.rating" id="rating">
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td><button class="btn btn-dark" type="submit" id="addFeedback">Add Feedback</button></td>
                    </tr>
                    <tr>
                        <td>
                            <div *ngIf="message" id="result">{{message}}</div>
                            <div *ngIf="error" id="error">{{error}}</div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div *ngIf="paramFlag == 4" class="text-center d-flex justify-content-center">
            <form (ngSubmit)="highestFee()">
                <h2>Highest of Fees</h2>
                <table>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-select [(ngModel)]="admission.associateId" id="associateId" name="associateId">
                                    <mat-option *ngFor="let admission of admissions" [value]="admission.associateId">
                                        {{ admission.associateId }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-dark" type="submit" id="highestFee">Get Fee</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div *ngIf="message" id="result">{{ message }}</div>
                            <div *ngIf="error" id="error">{{ error }}</div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div *ngIf="paramFlag == 5" class="text-center d-flex justify-content-center">
            <form (ngSubmit)="viewFeedbackByCourseId()">
                <h2>View Feedback</h2>
                <table>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-select [(ngModel)]="admission.courseId" id="courseId" name="courseId">
                                    <mat-option *ngFor="let admission of admissions" [value]="admission.courseId">
                                        {{ admission.courseId }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td> <button class="btn btn-dark" type="submit" id="viewFeedback">View Feedback</button></td>
                    </tr>
                </table>
                <p>{{feedbackArray[0]}}</p>
                <!-- <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Registration Id</th>
                            <th scope="col">Course Id</th>
                            <th scope="col">Associate Id</th>
                            <th scope="col">Feedback</th>
                            <th scope="col">Ratings</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let admission of feedbackArray">
                            <td>{{admission.registrationId}}</td>
                            <td>{{admission.courseId}}</td>
                            <td>{{admission.associateId}}</td>
                            <td>{{admission.feedback}}</td>
                            <td>{{admission.rating}}</td>
                        </tr>
                    </tbody>
                </table> -->
            </form>
        </div>

        <div *ngIf="paramFlag == 6" class="text-center d-flex justify-content-center">
            <form (ngSubmit)="makePayment()">
                <h2>Make Payment</h2>
                <table>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Enter Amout: </mat-label>
                                <input matInput type="number" name="fees" [(ngModel)]="fees" id="fees">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-select [(ngModel)]="admission.registrationId" id="registrationId"
                                    name="registrationId">
                                    <mat-option *ngFor="let admission of admissions" [value]="admission.registrationId">
                                        {{ admission.registrationId }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td> <button class="btn btn-dark" type="submit" id="makePayment">Make Payment</button></td>
                    </tr>
                    <tr>
                        <td>
                            <div *ngIf="message" id="result">{{ message }}</div>
                            <div *ngIf="error" id="error">{{ error }}</div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>