<mat-sidenav-container class="vh-100  top-130 position-relative mat-sidenav-container-bg">
    <mat-sidenav mode="side" opened class="h-100 mat-sidenav-bg mat-sidenav-custome">
        <p routerLink="/admission" [queryParams]="{ paramFlag: 1 }" routerLinkActive="active-route"
            class="cursor-pointer " *ngIf="access(['ROLE_ADMIN'])">Associate Registration</p>
        <p routerLink="/admission" [queryParams]="{ paramFlag: 2 }" routerLinkActive="active-route"
            class="cursor-pointer " *ngIf="access(['ROLE_ADMIN'])">Calculate Total Fee</p>
        <p routerLink="/admission" [queryParams]="{ paramFlag: 3 }" routerLinkActive="active-route"
            class="cursor-pointer ">Add Feedback</p>
        <p routerLink="/admission" [queryParams]="{ paramFlag: 4 }" routerLinkActive="active-route"
            class="cursor-pointer " *ngIf="access(['ROLE_ADMIN'])">Highest Fee</p>
        <p routerLink="/admission" [queryParams]="{ paramFlag: 5 }" routerLinkActive="active-route"
            class="cursor-pointer ">View Feedback</p>
        <p routerLink="/admission" [queryParams]="{ paramFlag: 6 }" routerLinkActive="active-route"
            class="cursor-pointer ">Make Payment</p>
    </mat-sidenav>
    <mat-sidenav-content class="px-4 py-3">
        <h4>Admission Management System</h4>
        <div *ngIf="paramFlag == 1 && access(['ROLE_ADMIN'])" class="text-center d-flex justify-content-center">
            <form (ngSubmit)="registration()">
                <h2>Associate Registration</h2>
                <table>
                    <tr>
                        <!-- <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Associate Id</mat-label>
                                <input type="number" matInput name="associateId"
                                    [(ngModel)]="admissionModel.associateId" id="associateId">
                            </mat-form-field>
                        </td> -->
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Associate Id</mat-label>
                                <mat-select [(ngModel)]="admissionModel.associateId" id="associateId"
                                    name="associateId">
                                    <mat-option *ngFor="let associate of associates" [value]="associate.associateId">
                                        {{ associate.associateId }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <!-- <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Course Id</mat-label>
                                <input matInput id="courseId" type="number" name="courseId" [(ngModel)]="admissionModel.courseId">
                            </mat-form-field>
                        </td> -->
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Course Id*</mat-label>
                                <mat-select [(ngModel)]="admissionModel.courseId" id="duration" name="courseId">
                                    <mat-option *ngFor="let course of courses" [value]="course.courseId">
                                        {{ course.courseId }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-dark" type="submit" id="registration">Register</button></td>
                    </tr>
                    <tr>
                        <td>
                            <div *ngIf="message" id="result">{{message}}</div>
                            <div *ngIf="error" id="error">{{error}}</div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div *ngIf="paramFlag == 2 && access(['ROLE_ADMIN'])" class="text-center d-flex justify-content-center">
            <form (ngSubmit)="totalFees()">
                <h2>Total Fee Calculation</h2>
                <table>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Associate Id</mat-label>
                                <mat-select [(ngModel)]="associateId" id="associateId" name="associateId">
                                    <mat-option *ngFor="let admission of admissions" [value]="admission.associateId">
                                        {{ admission.associateId }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-dark" type="submit" id="totalFees">Calculate</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div *ngIf="message" id="result">{{ message }}</div>
                            <div *ngIf="error" id="error">{{ error }}</div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div *ngIf="paramFlag == 3" class="text-center d-flex justify-content-center">
            <form (ngSubmit)="addFeedback()">
                <h2>Feedback Details</h2>
                <table>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Registration Id</mat-label>
                                <mat-select [(ngModel)]="admissionModel.registrationId" id="registrationId"
                                    name="registrationId">
                                    <mat-option *ngFor="let admission of admissions" [value]="admission.registrationId">
                                        {{ admission.registrationId }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Feedback</mat-label>
                                <textarea matInput name="feedback" [(ngModel)]="admissionModel.feedback"
                                    id="feedback"></textarea>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Rating</mat-label>
                                <input matInput type="number" name="rating" [(ngModel)]="admissionModel.rating"
                                    id="rating">
                            </mat-form-field>
                        </td>
                    </tr>

                    <tr>
                        <td><button class="btn btn-dark" type="submit" id="addFeedback">Add Feedback</button></td>
                    </tr>
                    <tr>
                        <td>
                            <div *ngIf="message" id="result">{{message}}</div>
                            <div *ngIf="error" id="error">{{error}}</div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div *ngIf="paramFlag == 4 && access(['ROLE_ADMIN'])" class="text-center d-flex justify-content-center">
            <form (ngSubmit)="highestFee()">
                <h2>Highest of Fees</h2>
                <table>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Associate Id</mat-label>
                                <mat-select [(ngModel)]="associateId" id="associateId" name="associateId">
                                    <mat-option *ngFor="let admission of admissions" [value]="admission.associateId">
                                        {{ admission.associateId }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-dark" type="submit" id="highestFee">Get Fee</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div *ngIf="message" id="result">{{ message }}</div>
                            <div *ngIf="error" id="error">{{ error }}</div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div *ngIf="paramFlag == 5" class="text-center d-flex justify-content-center">
            <form (ngSubmit)="viewFeedbackByCourseId()">
                <h2>View Feedback</h2>
                <table>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Course Id</mat-label>
                                <mat-select [(ngModel)]="courseId" id="courseId" name="courseId">
                                    <mat-option *ngFor="let admission of AdmissionsArray" [value]="admission.courseId">
                                        {{ admission.courseId }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td> <button class="btn btn-dark" type="submit" id="viewFeedback">View Feedback</button></td>
                    </tr>
                    <tr>
                        <td>
                            <div *ngIf="error" id="error">{{ error }}</div>
                        </td>
                    </tr>
                </table>
                <ul class="list-group list-group-flush text-start">
                    <li class="list-group-item" *ngFor="let feedback of feedbackArray; let i=index;">{{i+1}} . {{feedback}}</li>
                  </ul>
            </form>
        </div>

        <div *ngIf="paramFlag == 6" class="text-center d-flex justify-content-center">
            <form (ngSubmit)="makePayment()">
                <h2>Make Payment</h2>
                <table>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Enter Amout: </mat-label>
                                <input matInput type="number" name="fees" [(ngModel)]="fees" id="fees">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Registration Id</mat-label>
                                <mat-select [(ngModel)]="registrationId" id="registrationId" name="registrationId">
                                    <mat-option *ngFor="let admission of admissions" [value]="admission.registrationId">
                                        {{ admission.registrationId }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td> <button class="btn btn-dark" type="submit" id="makePayment">Make Payment</button></td>
                    </tr>
                    <tr>
                        <td>
                            <div *ngIf="message" id="result">{{ message }}</div>
                            <div *ngIf="error" id="error">{{ error }}</div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>